.dashboard-main {
  width: 100%;
  padding: 40px 32px;
}

.dashboard-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-study-card {
  width: 100%;
  max-width: 520px;
}

@media (max-width: 768px){
  .dashboard-main{
    padding: 18px 12px;
  }

  .dashboard-study-card{
    max-width: 100%;
  }
}
